#titolo{
    color: #ce19d4;
    text-align: center;
}

.btn a {
  color: #ffc107 !important;
  text-decoration: none;
}

select{
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
     font-family: "Roboto", sans-serif;
}

body{
    background-image: url(img/sfondo.jpg);
    background-repeat: no-repeat;
}

.header {
  background-color: #000035;
  height: 140px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 100px;
  margin-left: 20px;
}

.titolo-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#titolo {
  color: #ce19d4;
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.footer table {
    margin: 0 auto;
    text-align: center;
    border-spacing: 80px 0;
}
.footer table th,td{
  padding: 0 200px;
}
